body {
    background-color: #f8f9fa; /* Cor de fundo cinza claro */
    height: 100vh; /* Altura total da viewport */
}

.container {
    background-color: #fff; /* Cor de fundo branca para a caixa */
    border-radius: 10px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}